body {
    margin: 0;
}

canvas {
    display: block;
    position: absolute;
    top: 5px;
    left: 20em;
    width: 800px !important;
    height: 500px !important;
}

.cam-props input {
    display: block;
}


.row {
    margin-top: 5px;
}

.hierarchy>p {
    background: white;
    color: dodgerblue;
    box-shadow: 1px 1px 10px 0 #00adff;
}

.transform {
    overflow-y: scroll;
}

.transform-content * {
    width: 4em;
}

.params>input,
select {
    display: inline-block;
    width: 4em;
}

select {
    width: 5em;
}

#cars-json {
    background: #333;
    color: dodgerblue;
}