body {
    margin: 0;
    background: #41bbd9;
}

canvas {
    display: block;
    position: absolute;
    top: 5px;
    left: 20em;
    width: 800px !important;
    height: 500px !important;
}

.row {
    margin-top: 5px;
}

.hierarchy>p {

    color: #41bbd9;
    border: 1px solid transparent;
    font-weight: bold;

}

.custom-color:hover,
.hierarchy>p:hover {
    background: #41bbd9;
    color: #2d2d2d;
}

.hierarchy>p:hover,
.bar>button {
    border: 1px solid #41bbd9;

}

.bar>button {
    display: block;
    margin: 2px;

}

.hierarchy {
    height: 500px
}

.hierarchy,
.bar,
.custom-color,
#cars-json {
    background: #2d2d2d;
    color: #41bbd9;
}

h3 {
    color: #2d2d2d;
}

#gltfUpload {
    display: none;
}

label.custom-color {
    margin-left: 10px;
    width: 200px;
}

.form-control {
    width: 200px;
}