<script id="car-props" type="text/x-handlebars-template">
    <div class="params">
        <form id="json">

            <label>
                make

            </label>
            <input type="text" id="make" class="form-control" name="make">
            <label>
                model

            </label>
            <input type="text" id="model" class="form-control" name="model">
            <label>
                top speed
            </label>
            <input type="number" id="topSpeed" value="{{topSpeed}}" class="form-control" name="topSpeed">

            <label>acceleration</label>
            <input type="number" id="acceleration" value="{{acceleration}}" class="form-control" name="acceleration"
                step=".1">

            <label>
                color

            </label>
            <input type="text" id="color" class="form-control" name="color">
            <label>
                hp

            </label>
            <input type="number" id="hp" value="{{hp}}" class="form-control" name="hp">
            <label>
                weight

            </label>
            <input type="number" id="weight" value="{{weight}}" class="form-control" name="weight">
            <h3>Ackermann steering</h3>
            <label>

                wheelbase
            </label>
            <input type="number" id="" value="{{wheelBase}}" class="form-control" name="wheelBase">
            <label>
                rear track

            </label>
            <input type="number" id="" value="{{rearTrack}}" class="form-control" name="rearTrack">
            <label>
                turn radius

            </label>
            <input type="number" id="" value="{{turnRadius}}" class="form-control" name="turnRadius">
            <label>
                wheel radius

            </label>
            <input type="number" id="" value="{{wheelRadius}}" class="form-control" name="wheelRadius">
            <hr color="white">
            <label>
                RPM

            </label>
            <input type="number" id="rpm" value="{{rpm}}" class="form-control" name="rpm">

            <label>
                fuel consumption
            </label>
            <input type="number" id="fuelConsumption" value="{{fuelConsumption}}" class="form-control"
                name="fuelConsumption">
            <label>
                tire exploit
            </label>
            <input type="number" id="tireExploit" value="{{tireExploit}}" class="form-control" name="tireExploit">
            <div class="custom-control custom-switch">
                <input type="checkbox" id="isLocked" class="custom-control-input" checked name="isLocked">
                <label class="custom-control-label" for="isLocked">
                    is locked </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" id="isWon" class="custom-control-input" name="isWon">

                <label class="custom-control-label" for="isWon">
                    is won
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" id="isUsed" class="custom-control-input" name="isUsed">
                <label class="custom-control-label" for="isUsed">
                    is used
                </label>

            </div>
            <div class="custom-control custom-switch">

                <input type="checkbox" id="AImode" class="custom-control-input" name="AImode">
                <label class="custom-control-label" for="AImode">
                    AI mode
                </label>

            </div>
            <h3>Types</h3>
            drive type <select class="form-control" name="driveType">
                {{#each driveType}}
                <option>{{this}}</option>
                {{/each}}

            </select>

            transmission type <select class="form-control" name="transmission">
                {{#each transmission}}
                <option>{{this}}</option>
                {{/each}}

            </select>

            car type <select class="form-control" name="carType">
                {{#each carType}}
                <option>{{this}}</option>
                {{/each}}

            </select>

            racing type <select class="form-control" name="racingType">
                {{#each racingType}}
                <option>{{this}}</option>
                {{/each}}

            </select>

            paint <select class="form-control" name="paint">
                {{#each paint}}
                <option>{{this}}</option>
                {{/each}}

            </select>

            price <select class="form-control" name="price">
                {{#each price}}
                <option>{{this}}</option>
                {{/each}}

            </select>
            description <textarea id="desc" cols="50" rows="10" class="form-control" name="desc">
    </textarea>

            <button class="btn btn-primary" id="generate">
                Generate car data
            </button>
        </form>
    </div>
</script>