<script id="transform" type="text/x-handlebars-template">
<div class="transform-content">

	<h3>Transform</h3>
	<p>position </p>
	<span>
		X <input type="number" id="posX" class="form-control"> Y <input type="number" id="posY" class="form-control"> Z <input type="number" id="posZ" class="form-control">
		<p></p>
	</span>
	<p> rotation </p>
	<span>
		X <input type="number"  id="rotX" class="form-control"> Y <input type="number" id="rotY" class="form-control"> Z <input type="number" id="rotZ" class="form-control">
		<p></p>
	</span>
	<p> scale </p>
	<span>
		X <input type="number"  id="scaleX" class="form-control"> Y <input type="number" id="scaleY" class="form-control"> Z <input type="number" id="scaleZ" class="form-control">
	</span>
	<p></p>
</div>
            
</script>